<h1>Create Hero</h1>

<% if @heroine.errors.any? %>
    <ul>
        <% @heroine.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @heroine do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :super_name %>
        <%= f.text_field :super_name %>
    </div>
    <div>
        <%= f.collection_select :powers, Power.all, :id, :name %>
    </div>
    <%= f.submit %>
<% end %>