<h2>Create a new heronine</h2>
<%= form_for @heronine do |f| %>
    <%=f.label 'Name' %>
    <%=f.textfield :name%>
    <%= f.label "Super Name%>
    <%= f.textfield :super_name%>
    <%= submit %>

<%end%>