<h1>Heroine Info</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h2>Name:</h2>
<%= @heroine.name %>
<h2>Super Name:</h2>
<%= @heroine.super_name %>
<h2>Powers:</h2>
<ul><% @heroine.powers. each do |power| %>
<li><%= link_to power.name, power %></li>
<%end%></ul>
<br>
<br>
<%= link_to "Back to All Heroines", heroines_path %>